<div class="row article">
    <div class="col s12 m12 l9">
        <% @news.each do |new| %>
            <div class="card">
                <div class="card-content">
                    <span class="card-title red-text text-darken-2"><%= new.title.capitalize%></span>
                    <p class='truncate'><%= new.summary%></p>
                </div>
                <div class="card-action right-align">
                    <%= link_to 'Lire la suite', article_path(new.id)%>
                </div>
            </div>
        <% end %>
    </div>
    <%= render :template => 'layouts/right' %>
 </div>
