<div class="row article">
    <div class="col s12 m12 l9">
        <div class="card">
            <div class="card-content">
                <span class="card-title red-text text-darken-2"><%= @new.title.capitalize %></span>
                <p><%= @new.content.html_safe %></p>
            </div>
        </div>
    </div>

    <%= render :template => 'layouts/right' %>
</div>
