<div class="row event">
    <div class="col s12">
      <div class="row">
  			<% if(@events.blank?) %>
        <div class="col s12">
          <div class="card">
            <div class="card-content">
                  <span class="card-title">Aucun événement pour le moment</span>
            </div>
          </div>
        </div>
  			<% else %>
  				<% @events.each do |event| %>
            <div class="col s12 m6">
              <div class="card">
                <div class="card-content">
                      <span class="card-title redDate"><%= l event.date, format: :event %></span>
                      <p><%= event.event%></p>
                </div>
              </div>
            </div>
  				<% end %>
  			<% end %>
      </div>
    </div>
</div>
