<div class="row event">
    <div class="col s12">
			<% if(@events.blank?) %>
				<span>Aucun événement pour le moment</span>
			<% else %>
        <ul class="collection">
				<% @events.each do |event| %>

            <li class="collection-item"><%= event.event%> le <span class='redDate'><%= l event.date, format: :event %></span></li>

				<% end %>
        </ul>
			<% end %>


    </div>
</div>
