/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "materialize/components/color";
 $primary-color: color("red", "darken-3") !default;
 @import 'materialize';
 @import "font-awesome-sprockets";
 @import "font-awesome";


.header{
    width: 100%;
    height: 225px;
    background: #eeeeee;
    background-image: url(asset-path('head.png'));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    img{
        display: block;
        margin: auto;
        height: 70%;
    }
}
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main{
   flex: 1 0 auto;
}
.mydevise{
    input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
        border-bottom: 1px solid #c62828;
        box-shadow:0 1px 0 0 #c62828;
    }
    .btn, .btn-large{
        background-color:#c62828;
    }
}
.LayRight{
    margin-top: 7px;
    a{
        color:#c62828;
    }
    img{
        width:100%;
    }
    .collection{
        margin-top: 0px;
    }
    .collection-header{
        span{
            font-weight: bold;
            color:#787878;
        }
    }
}
