// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article{

    margin-top: 10px;
    .card{

        .card-content{
            .card-title{
                cursor:default;;
            }
        }
        .card-action{
            a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
                color:#c62828 ;
            }
            a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover{
                color:#ef5350 ;
            }
        }
    }
}
