// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.article{

    margin-top: 10px;
    .card{

        .card-content{
            .card-title{
                cursor:default;;
            }
        }
        .card-action{
            a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
                color:#c62828 ;
            }
            a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating):hover{
                color:#ef5350 ;
            }
        }
    }
    .pagination{
        margin-top: 10px;
        .previous_page, .next_page{
            display: none;
        }
        a{
            padding: 5px;
            color:#C62828;
        }
        a:hover{
            color:#de6868;
        }
        em{
            padding: 5px;
            background-color:#C62828;
            color: #fff;
            padding: 5px;
            padding-right: 8px;
            border-radius: 3px;
            cursor: default;
        }
    }
}
