// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.event{
	.card{
		width: 49%;
    display: inline-block;
		margin: 0.5rem 0 0rem 0;

		@media screen and (max-width: 800px) {
			 width: 100%;
			 display: block;
			 margin-bottom: 5px;
		}

		.card-content{
			.card-title{
				color:#c62828;
			}
		}
	}
}