// Place all the styles related to the club controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.club{
    margin-top: 20px;

    .tabs{
        margin-bottom: 20px;
    }
    .collection{
        .avatar{
            .circle{
                font-style: normal;
            }
            .picture{
                img{
                    min-width: 100%;
                    min-height: 100%;
                    max-width: 150%;
                    max-height: 100%;
                }
            }
        }
        .collection-item.avatar i.circle{
            font-size: 25px;
            line-height: 55px;
        }
    }
    // #staff{
    //     ul{
    //         li{
    //             opacity: 0;
    //         }
    //     }
    // }
    // #old{
    //     ul{
    //         li{
    //             opacity: 0;
    //         }
    //     }
    // }
    // #young{
    //     ul{
    //         li{
    //             opacity: 0;
    //         }
    //     }
    // }
    #training{
        ul{
            margin-left: 20px;
            li{
                list-style: circle;
            }
        }
    }
    .collection .collection-item.avatar .circle{
        width:55px;
        height:55px;
    }
    .collection .collection-item.avatar{
        padding-left: 85px;
    }
}
.nameSection{
    font-size: 1.2em;
    color: #c62828;
    text-decoration: underline;
}
