// Place all the styles related to the club controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.club{
    margin-top: 20px;

    .tabs{
        margin-bottom: 20px;
    }
    .collection{
        .avatar{
            .circle{
                img{
                    width:100%;
                }
            }
        }
    }
    #training{
        ul{
            margin-left: 20px;
            li{
                list-style: circle;
            }
        }
    }
}
