// Place all the styles related to the rules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rules{
    margin-top: 20px;

    .tabs{
        margin-bottom: 20px;
    }
    .rules-content{
        ul{
            margin-left: 20px;
            li{
                list-style: circle;
            }
        }
    }
}
