// Place all the styles related to the tournament controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tournament{
    margin-top: 10px;
    .btn, .btn-large,.btn:focus, .btn-large:focus,.btn:hover, .btn-large:hover{
        background-color:#c62828;
    }
    .collection-item{
        a{
            color:#c62828;
        }
    }
}
