<div class="row rules">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#rules">Réglement</a></li>
        <li class="tab col s6"><a href="#adhesion">Adhésion</a></li>
      </ul>
    </div>
    <div id="rules" class="col s12 rules-content">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 1 : Objectif et but de la section</span>
          <p>Le règlement intérieur a pour but de préciser le fonctionnement de la section Roller Hockey de Gray.
          Cette section a pour objectif l’initiation au Roller et principalement la pratique du Roller Hockey.
          Outre les séances régulières d’entraînement, il sera proposé aux adhérents diverses animations, sorties, randonnées et manifestations sportives, qui feront l’objet d’une information par courriel/sms et lors des séances.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 2 : Organisation de la section</span>
          <p>Le club du Val de Gray est affilié à la Fédération Française de Roller Skating (FFRS) et se compose de deux sections :
          Section Jeunes : Initiation au Roller et découverte du Roller Hockey
          Section Adultes : Pratique du Roller Hockey et compétitions loisirs</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 3 : Inscription et cotisation</span>
          <p>Lors d’une inscription, la section vous demande :
          Une photo d’identité
          Un certificat médical autorisant la pratique du Roller Hockey en Compétition
          Le règlement de la cotisation (50 € pour la section Jeunes et 70 € pour la section Adultes)
          Le formulaire de demande d’adhésion rempli et signé (+ droit à l’image)
          Une autorisation parentale pour les mineurs
          Le règlement de la cotisation comprend la licence de Roller Hockey ainsi qu’une assurance responsabilité civile et individuelle accident.</p>
          <br>
          <p>Rappel : Outre le règlement de sa cotisation, le membre doit participer à la vie du club. L’adhésion n’est pas synonyme de paiement d’un service fourni par le club.</p>

          <span>L’inscription ne devient définitive qu’après réception du dossier complet d’inscription.</span>

          <span>Deux séances « d’essais » sont possibles en début d’année afin de découvrir l’activité.</span>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 4 : Section Jeunes</span>
          <p>La section est ouverte à une quinzaine d’enfants (à partir de 12 ans environ) désirant pratiquer le Roller et le Roller Hockey. Ce créneau est une initiation au patinage et à la pratique du Roller Hockey. Des groupes de niveaux pourront être créé et une évolution, dans le groupe adulte, sera envisageable en cours d’année.
          L’encadrement sera assuré par une personne diplômée (Brevet d’Initiateur Fédéral) et des volontaires de la section Adultes.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 5 : Les entrainements</span>
          <p>Les entrainements sont structurés de la manière suivante :
          <ul>
              <li>Préparation de la salle</li>
              <li>Echauffement</li>
              <li>Exercices</li>
              <li>Jeux</li>
              <li>Etirements</li>
              <li>Remise en ordre de la salle</li>
          </ul>
          L’organisation de ces entrainements pourra être modifiée à tout moment par le coach et ses assistants.

          Les horaires « normaux » sont le vendredi soir de 20h30 à 21h15 pour les jeunes et à partir de 21h15 pour les adultes. Les joueurs devront être prêt et en tenue pour le début de la séance.
          Les horaires des entrainements peuvent être modifiés durant la saison seront alors communiqués aux joueurs au plus tôt. Pendant les vacances scolaires, le club vous avisera du maintient ou non des entrainements.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 6 : L’équipement</span>
          <p>L’équipement obligatoire est :
          Pour la section Jeunes : Casque, roller, genouillères et coudières, coquille et gants (conseillée).
          Pour la section Adultes : Casque avec jugulaire + grille/visière (suivant règlement RILH), roller, jambière, coquille, coudière, gants, crosse
          Le club se réserve le droit de refuser un joueur si son équipement n’est pas complet.
          Tout matériel appartenant à la section et prêté aux adhérents devra être traité correctement.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 7 : Tournois et matchs loisirs</span>
          <p>Le club de Gray propose des tournois loisirs et matchs amicaux durant toute la saison accueillant des équipes de Franche-Comté et des régions voisines. Ces évènements sont réservés en priorité aux joueurs de hockey confirmés adultes ou enfants.
          La sélection pour un match n’est ni une obligation, ni un droit mais une possibilité suivant l’évolution aux entrainements et le suivi des adhérents. Si pour des raisons indépendantes de sa volonté, le joueur doit être absent au match (comme pour les entrainements), il devra impérativement en informer le responsable d’équipe le plus rapidement possible. Une application « Easysport » sera mise en place et présentée si besoin.
          Lors des rencontres à domicile, un temps de préparation de la salle (mise en place des balustrades, des tables, préparation des vestiaires, etc.) sera fixé et tous les joueurs licenciés devront s’investir dans cette tâche.</p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 8 : Discipline et conduite</span>
          <p>Les joueurs s’engagent à :
              <ul>
                  <li>Respecter les horaires indiqués des entrainements</li>
                  <li>Participer à l’installation et au rangement de la salle (cages, palets, bancs) lors des entrainements et des matchs</li>
                  <li>Respecter les consignes de l’entraineur, des membres de l’association ou de toute personne intervenant dans le cadre des évènements de l’association</li>
                  <li>Conserver une attitude sportive tout au long de la saison.</li>
                  <li>Tout vol, dégradation volontaire de matériels, violences physiques ou morales sur des personnes internes ou externes de l’association dans le cadre de l’association constituent des fautes graves. L’association ne pratiquera aucune tolérance par rapport à ces actions.</li>
              </ul>
          </p>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Article 9 : Sanctions</span>
          <p>Les fautes graves énumérées ci-dessus, après avis du conseil de discipline de l’association, peuvent conduire à des mesures disciplinaires allant jusqu’à l’exclusion temporaire ou définitive de la personne concernée par ces fautes. Je reconnais avoir pris connaissance et accepte le présent règlement.</p>
        </div>
      </div>

    </div>
    <div id="adhesion" class="col s12">

        <div class="card">
          <div class="card-content">
            <span class="card-title">Saison 2015/2016 </span>
            <p>
            Pour devenir adhérent, il faut vous munir de :
            <ul>
                <li>La fiche d'inscription et de renseignements comprenant les 4-5 rubriques suivantes à compléter et à signer :</li>
                <li>Information sur le joueur</li>
                <li>Assurances</li>
                <li>Certificat médical</li>
                <li>Autorisation parentale de simple surclassement pour un licencié mineur</li>
                <li>Droit à l’image</li>
                <li>Une photo d'identité</li>
                <li>Un règlement de :
                    <ul>
                        <li>70€ pour la section Adultes</li>
                        <li>50€ pour la section Jeunes</li>
                    </ul>
                </li>
            </ul>
            Le règlement de la cotisation comprend la licence de Roller Hockey ainsi qu’une assurance responsabilité civile et individuelle accident.
            </p>
            <p>
                L’inscription ne devient définitive qu’après réception du dossier complet d’inscription.
                Deux séances « d’essais » sont possibles en début d’année afin de découvrir l’activité.
            </p>
          </div>
          <div class="card-action">
              <a href="#">Téléchargez le document ici et imprimez le.</a>
            </div>
        </div>






    </div>
  </div>
