<div class="row club">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a href="#test1">Adultes</a></li>
        <li class="tab col s4"><a href="#test2">Jeunes</a></li>
        <li class="tab col s4"><a href="#test3">Entrainement</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">

        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle green">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle green">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
        </ul>


    </div>
    <div id="test2" class="col s12">

        <ul class="collection">
            <li class="collection-item avatar">
                <i class="material-icons circle red">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
            <li class="collection-item avatar">
                <i class="material-icons circle red">folder</i>
                <span class="title">Prénom / Nom</span>
                <p>Attaque <br> 08</p>
            </li>
        </ul>

    </div>
    <div id="test3" class="col s12">Test 3</div>
  </div>
