<!DOCTYPE html>
<html>
<head>
  <title>Coyotes</title>
    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style media="screen">
    body{
          background: #222;
    }
    .circle{
       position:absolute;
      width:100%;
      left:0;
      top:0;
      height:100%;
      background:#222;
    }

    .circle img{
      width:120px;
      height:120px;
      overflow:hidden;
      border-radius:99em;
      display:table;
      margin:0 auto;
      margin-top:50px;
    }

    </style>
</head>
<body>

        <%= yield %>

</body>
</html>
